.GridItem {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ecf0f1;
}

.start {
  background-color: #16a085;
}

.end {
  background-color: #c0392b;
}

.wall {
  background-color: #95a5a6;
}